<div class="mt-5 mb-1" style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card mt-5">
      <div class="card-body">
        <p class="card-title lead">Login</p>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" placeholder="Email Address" [(ngModel)]="email">
        </div>
        <div class="form-group">
          <label for="email">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="password">
        </div>
        <button type="submit" class="btn btn-primary" (click)="tryLogin()">Login</button>
      </div>
    </div>
  </div>
</div>
