<div class="mt-5 mb-1" style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <div class="btn-group mb-3">
    <button type="button" class="btn btn-secondary mr-3 rounded" (click)="setClientDetails(899047)">agilia@ebit.at </button>
    <button type="button" class="btn btn-secondary rounded" (click)="setClientDetails(899052)">agilia2@ebit.at</button>
  </div>
</div>
<div>
    <div class="row" style="margin-bottom: 10px;">
      <div class="col-md-4 mb-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Customer Details</h5>
            <ul>
<li>Email: {{ customerDetails?.Address }}</li>
<li>Email Type: {{ customerDetails?.EmailType }}</li>
<li>Send News Letter: {{ customerDetails?.SendNewsletter }}</li>
<li>Creator By: {{ customerDetails?.Creator?.Name }}</li>
<li>Created ON: {{ customerDetails?.CreatedOn | date }}</li>
            </ul>
              <!--<p class="card-text">{{ customerDetails.Address }}</p>-->
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Address Details</h5>
            <ul>
<li>Address: {{ addresses?.formatedObjectName }}</li>
<li>Region: {{ addresses?.Region }}</li>
<li>Country: {{ addresses?.Country }}</li>
<li>Creator By: {{ addresses?.Creator?.Name }}</li>
<li>Created ON: {{ addresses?.CreatedOn | date }}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Phone Details</h5>
            <ul>
<li>Phone Number: {{ phones?.formatedObjectName }}</li>
<li>Creator By: {{ phones?.Creator?.Name }}</li>
<li>Created ON: {{ phones?.CreatedOn | date }}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Contact Persons</h5>
            <ul>
<li>Name: <b>{{ contactPersons?.Salutation }}.</b> {{ contactPersons?.formatedObjectName }}</li>
<li>Creator By: {{ contactPersons?.Creator?.Name }}</li>
<li>Created ON: {{ contactPersons?.CreatedOn | date}}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Submit Bug Report</h5>

            <form (ngSubmit)="sendBugReport()">
              <div class="form-group">
                <label for="title">Title</label>
                <input id="title" type="text" class="form-control" name="title" [(ngModel)]="bugReport.title" />
              </div>
              <div class="form-group">
                <label for="desc" >Description</label>
                <input id="desc" type="text" class="form-control" name="desc" [(ngModel)]="bugReport.desc" />
              </div>
              <div class="form-group">
                <button class="btn btn-primary">Submit Bug Report</button>
              </div>
            </form>
            <p class="card-text">
              {{ bugReport.response }}
            </p>
          </div>
        </div>
      </div>
    </div>

</div>
